footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 80%;

    left: 50%;
    transform: translateX(-50%);

    background-color: #6f62a0;
    padding: 5px;
    margin: 10px 0;
    border-radius: 20px;
}

.divFooter {
    margin: 0 10%; /* margin à 0 pour top et bottom, mais à 10% pour right et left */
}

.lienFooter{
    line-height :3;
    color:rgb(235, 200, 169);
    font-family: 'Alkatra', cursive;
    transition: color 0.3s;
}

.lienFooter:hover{
    color:rgb(211, 209, 55);
}